body{

    margin: 0;
    padding: 0;
}

#image_logo {
   padding-left: 35%;
}
h1{
  text-align: center;
}
.card
{
    padding-left: 25%;
  display: inline-block;
}
.moins{
    
    
    height: 30px;
    width: 30px;
    opacity: 0.8;
    background-color: red;
    color:seashell;
    
    }
    .plus 
    
    {
       
       height: 30px;
       width: 30px;
      opacity: 0.8;
      color: aliceblue;
      background-color: green;
    }
    .inp {
        width: 30px;
    }
     .totals {
        text-align: end;
    }
    

